/* styles.css */
body {
   background-color: #56BAED;
}
#X{
    rotate: 240deg;
    text-align: start;
    margin-left: 0px;
    color: white;
    margin-top: 0px;
}
.container{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #56BAED;
    color: black;
}
#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    background-color: #56BAED; /* Dark background for neon effect */
    padding: 5px; /* Add padding to see the neon glow effect */
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Dark background for neon effect */
    font-size: 2em;
    cursor: pointer;
    border-radius: 1px; /* Add border radius for rounded corners */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.cell:nth-child(3n){
    border-right:none;
}
.cell:nth-child(6) ~ .cell {
    border-bottom: none;
}



#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color:white ;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px #56BAED;
    text-shadow: 0 0 20px #56BAED;
    transition: all 0.3s ease-in-out;
}

#reset-button:hover {
    box-shadow: 0 0 40px #1e536d;
    text-shadow: 0 0 40px #1f87bb;
}

